/.ipynb_checkpoints
/Assignment3_Sagar_Rana_44.pdf
/final.cpg
/final.dbf
/final.prj
/final.shp
/final.shx
/finalpoi.csv
/finalpoi.sqlite
/g.cpg
/g.dbf
/g.prj
/g.shp
/g.shx
/h.csv
/jholey.py
/kit_kit
/kit_kit - Shortcut.lnk
/lay.ui
/mini_points.cpg
/mini_points.dbf
/mini_points.prj
/mini_points.qpj
/mini_points.shp
/mini_points.shx
/mini_points2.cpg
/mini_points2.dbf
/mini_points2.prj
/mini_points2.qpj
/mini_points2.shp
/mini_points2.shx
/mini_points2.sqlite
/OUT.cpg
/OUT.dbf
/out.geojson
/OUT.prj
/OUT.shp
/OUT.shx
/out2.cpg
/out2.dbf
/out2.prj
/out2.shp
/out2.shx
/points.csv
/Python
/temp_contours.dbf
/temp_contours.shp
/temp_contours.shx
/Untitled.ipynb
/Untitled8.ipynb